:host {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

.app-wrapper {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

app-header {
  flex-shrink: 0;
}

.main-content {
  flex: 1 0 auto;
}

app-footer {
  flex-shrink: 0;
  margin-top: auto;
}

